body{
  background-color:rgb(33, 33, 38);
  color: aliceblue;
}

main{
  padding-top: 50px;
  max-width: 340ox;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color:aliceblue;
  
  border: 0;
  display: inline-block;
  width: 100px;
}

button.with-text{
  width: auto;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 36px;
}