.sliderWork {
    height: 70px;
    border: 7px solid #ef583e;
    border-radius: 70px;

}


.thumbWork {
    background-color: #ef583e;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.sliderBreak {
    height: 70px;
    border: 7px solid #9dbeb7;
    border-radius: 70px;

}


.thumbBreak {
    background-color: #9dbeb7;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}